html, body {
	height: 100%;
}
body {
	font: 13px/1.5em 'Helvetica Neue', Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	position:relative;
}

#header-main {
	background: #666666; /* Old browsers */
	background: -moz-linear-gradient(top, #666666 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666666 0%, #333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666666 0%, #333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #666666 0%, #333333 100%); /* IE10+ */
	background: linear-gradient(to bottom, #666666 0%, #333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333', GradientType=0 ); /* IE6-9 */
	height:60px;
	position: relative;
	z-index: 105;
	box-shadow:0 2px 3px rgba(0,0,0,.5);
}
#header-main > .spacer {
	height:2px;
	clear:both;
	background-color:#333;
}
#brand-main {
	float:left;
	margin:15px 20px;
	padding:0;
	height: 30px;
	overflow: hidden;
}
#brand-main a {
	float:left;
	width:354px;
	height:0;
	overflow:hidden;
	margin:0;
	padding: 30px 0 0 0;
	background:url(../media/brand.png) no-repeat top left;
}


#main-content {
	position:absolute;
	left:0;
	right:0;
	top:60px;
	bottom:0;
}
#map-canvas {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../media/kenya-map.jpg) no-repeat center center;
	background-size:cover;
	z-index: 98;
}

/* @group Navigation */

#main-nav ul {
	float:left;
	height: 58px;
	margin: 0;
}

#main-nav li {
	display: inline-block;
	margin: 0 10px;
	padding: 0;
}

#main-nav li.active {
	box-shadow:inset 0 -5px 0 #d9d8a2;
}

#main-nav a {
	line-height: 57px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}




#utility-nav ul {
	float:right;
	margin: 10px 20px 0 0;
}

#utility-nav ul li {
	display:inline-block;
	margin: 0;
	background: #656565; /* Old browsers */
	background: -moz-linear-gradient(top,  #656565 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #656565 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #656565 0%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #656565 0%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #656565 0%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
}

#utility-nav ul li:hover {
	background: #656565; /* Old browsers */
	background: -moz-linear-gradient(top,  #656565 0%, #636363 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#636363)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #656565 0%,#636363 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #656565 0%,#636363 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #656565 0%,#636363 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #656565 0%,#636363 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
}

#utility-nav a {
	display: block;
	overflow: hidden;
	height:0;
	padding:32px 0 0 0;
	border-radius:5px;
	border: 1px solid #333;
	box-shadow: inset 0 1px #888,  0 1px #888;
	width: 32px;
	background-image: url(../icons/nav-sprite.png);
	background-repeat: no-repeat;
}


#utility-nav a.nav-properties {
	background-image: none;
	padding: 0 10px;
	line-height: 32px;
	width: auto;
	height: auto;
	text-decoration: none;
	color: #fff;
}


#utility-nav a.nav-help {background-position: center -64px;}
#utility-nav a.nav-cset {background-position: center -128px; width: 80px;}

/* @end */






/* @group Panels */

.panel h2 {
	line-height: 40px;
	padding: 0 0 0 10px;
	margin: 0;
}

#optionsPanel {
	position: relative;
	z-index: 100;
	width: 300px;
	background: rgba(255,255,255,.9);
	overflow: hidden;
}

#resultsPanel, #queuePanel {
	color: #fff;
	position: absolute;
	right: 0;
	z-index: 101;
	background: rgba(0,0,0,.7);	
}

#resultsPanel {
	top: 0;
}

.resultsSection {
	padding: 10px;
}

.tasksSection {
	background: rgba(0,0,0,.5);
	padding: 10px;
}

#queuePanel {
	bottom: 0;
	line-height: 30px;
}

#queuePanel h2 {
	padding: 0 5px;
	display: inline-block;
}

/* @end */

/* @group Options Panel */


#accordion h3 {
	margin: 0 !important;
}


.submitBlock {
	padding: 5px 10px;
}



/* @end */





